<head>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
<meta charset="UTF-8">
<style>
.panel-body{
	text-align: left;
}
.panel-heading:hover{
	cursor: pointer;
}
.panel-title{
	text-align: left;
}
.danger{
	background: red;
}
.spinner {
  margin: 100px auto;
  width: 300px;
  height: 120px;
  text-align: center;
  font-size: 40px;
}
 
.spinner > div {
  background-color: pink;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
</style>
</head>
<body>

<center>
<div class="spinner" id="spin">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
  <div class="rect6"></div>
</div>
<div class="container" id="mainbody"  style="display:none">
<div class="row" >
<div class="col-lg-3" id="nodeList">
	<div class="panel panel-primary" v-for="(value, index) in nodeInfo">
    <div class="panel-heading" data-toggle="collapse" v-bind:data-target="'#' + value.name">
        <h3 class="panel-title">
            {{ value.name }}
        </h3>
    </div>
    <div class="panel-body collapse" v-bind:id="value.name">
        	<p>接口地址：{{ value.url }}</p>
		<p>接口版本：{{ value.version }}</p>
		<p>状态: {{ value.status }}</p>
		<p>角色: {{ value.role }}</p>
		<div v-if="value.status == 'Running'">
			<p>总容器数：{{ value.allContainers }}</p>
			<p v-if="value.runningContainers !== 'UnKown'">运行容器数：{{ value.runningContainers }}</p>
			<button class="btn btn-primary btn-sm" v-on:click="getContainersDetails(index)">容器</button>
			<button class="btn btn-primary btn-sm" v-on:click="getImageDetails(index)">镜像</button>
			<button v-if="value.role == 'Master'" v-on:click="getServiceDetails(index)" class="btn btn-primary btn-sm">服务(Services)</button>
		</div>
    </div>
	</div>
</div>
<div class="col-lg-9">
<div id="containerList" v-if="seen">
<div v-for="(value, index) in containersInfo" class="panel panel-success">
    <div class="panel-heading" data-toggle="collapse" v-bind:data-target="'#container' + value.id">
        <h3 class="panel-title">
            <big>{{ value.status }}: {{ value.name }}</big> - {{ value.nodename }}
        </h3>
    </div>
    <div class="panel-body collapse" v-bind:id="'container' + value.id">
        <p>名称： {{ value.name }}</p>
		<p>状态： {{ value.status }}</p>
		<p>资源ID：{{ value.id }}</p>
		<p>镜像： {{ value.image }}</p>
		<p>创建时间： {{ value.ctime }}</p>
		<div v-if="value.status == 'RUNNING'">
			<p>启动时间： {{ value.starttime }}</p>
			<p>内存使用： {{ value.memuse }}MByte</p>
			<p>内存百分比： {{ value.mempercent }}%</p>
		</div>
		<div class="btn-group">
			<button class="btn btn-success" v-bind:class="{ disabled: value.startDisable }" v-on:click="containerAction(index,'start')">启动</button>
			<button class="btn btn-primary" v-bind:class="{ disabled: value.stopDisable }" v-on:click="containerAction(index,'stop')">停止</button>
			<button class="btn btn-warning" v-bind:class="{ disabled: value.restartDisable }" v-on:click="containerAction(index,'restart')">重启</button>
			<button class="btn btn-danger" v-bind:class="{ disabled: value.delDisable }" v-on:click="containerAction(index,'remove')">删除</button>
		</div>
			<button class="btn btn-default" v-on:click="containerRefresh(index)">刷新</button>
    </div>
</div> <!-- panel -->
</div> <!-- containerlist -->
<div id="imageList" v-if="seen">
<div v-for="(value, index) in imageInfo" class="panel panel-success">
    <div class="panel-heading" data-toggle="collapse" v-bind:data-target="'#images' + value.id">
        <h3 class="panel-title">
            <big>Images</big>-{{ value.name }}
        </h3>
    </div>
    <div class="panel-body collapse" v-bind:id="'images' + value.id">
        <p>名称： {{ value.name }} </p>
	<p v-if="value.version != 'Unkown'">版本：{{ value.version }}</p>
	<p>容量：{{ value.size }}MByte</p>
	<p>创建时间：{{ value.createTime }}</p>
	<!-- <button class="btn btn-sm btn-primary" v-on:click="historyImage(index)">历史详情</btn> -->
	<button class="btn btn-sm btn-danger" v-on:click="delImage(index)">删除</btn>
    </div>
</div> <!-- panel -->
</div> <!-- imagelist -->

<div id="serviceList" v-if="seen">
<div v-for="(value, index) in serviceInfo" class="panel panel-success">
    <div class="panel-heading" data-toggle="collapse" v-bind:data-target="'#service' + value.id">
        <h3 class="panel-title">
            <big>Service-{{ value.labels }}</big>:{{ value.name }}
        </h3>
    </div>
    <div class="panel-body collapse" v-bind:id="'service' + value.id">
        <p>名称： {{ value.name }} </p>
        <p>副本数： {{ value.replicas }} </p>
        <p>镜像： {{ value.image }} </p>
        <p>Stack标签： {{ value.labels }} </p>
	<div class="btn-group">
    		<button class="btn btn-warning btn-sm" data-toggle="modal" v-bind:data-target="'#service-replicas' + value.id">修改副本数 </button>
    		<button class="btn btn-warning btn-sm" data-toggle="modal" v-bind:data-target="'#service-upimages' + value.id">修改镜像</button>
    		<button class="btn btn-primary btn-sm" data-toggle="modal" v-bind:data-target="'#service-expose' + value.id">端口详情 </button>
    		<button class="btn btn-primary btn-sm" data-toggle="modal" v-bind:data-target="'#service-mounts' + value.id">挂载详情 </button>
	</div>
	<div class="modal fade" v-bind:id="'service-replicas' + value.id" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        修改副本：{{ value.name }}
                                </div>
                                <div class="modal-body">
					<div class="from-group">
						<label for="name">副本数</label>
    						<input type="text" class="form-control" v-model="value.replicas">
					</div>
				</div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"  data-target="#publicModal" v-on:click="updateRplicas(index)">提交更改</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                        </div>
                </div>
        </div>
	<div class="modal fade" v-bind:id="'service-expose' + value.id" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					端口信息
				</div>
				<div class="modal-body" v-for="(value, index) in value.Expose">
					<p>目标端口： {{ value.TargetPort }} </p>
					<p>公开端口： {{ value.PublishedPort }} </p>
					<p>协议： {{ value.Protocol }} </p>
					<p>模式： {{ value.PublishMode }} </p>
				</div>
				<div class="modal-footer">
                			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            			</div>
			</div>
		</div>
	</div>
	<div class="modal fade" v-bind:id="'service-mounts' + value.id" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
				<div class="modal-header">
					挂载信息
				</div>
                                <div class="modal-body" v-for="(value, index) in value.mount">
                                        <p>源路径（宿主机）： {{ value.Source }} </p>
                                        <p>目标路径（容器内）： {{ value.Target }} </p>
                                        <p>类型： {{ value.Type }} </p>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                        </div>
                </div>
        </div>
	<div class="modal fade" v-bind:id="'service-upimages' + value.id" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        现有镜像：{{ value.image }}
                                </div>
                                <div class="modal-body">
                                	<div class="from-group">
                                                <label for="name">镜像</label>
                                                <input type="text" class="form-control" v-model="value.image">
                                        </div>
				</div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"  data-target="#publicModal" v-on:click="updateImage(index)">提交更改</button>
                                </div>
                        </div>
                </div>
        </div>
    </div>
</div> <!-- panel -->
</div> <!-- imagelist -->
</div> <!-- col-lg-9 -->
</div>
</div>
</div>
</center>

<div class="modal fade" id="publicModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-body">
					{{ message }}
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                        </div>
                </div>
</div> 
<script type="text/javascript" src="/static/js/container.js"></script>
<script type="text/javascript" src="/static/js/image.js"></script>
<script type="text/javascript" src="/static/js/service.js"></script>
<script type="text/javascript" src="/static/js/init.js"></script>
</body>
